.btn-group {
  margin: 5px;
  @include make-row();
  @media all and (max-width: 600px) {
    width: 100%;
  }
}

.btn-group__large {
  @include invisible(visible);
  @media all and (max-width: 600px) {
    width: 100%;
    @include invisible(hidden);
  }
}
