.game-space {
  @include make-row();
  @include make-container();
  padding: 10px;
  @media all and (max-width: 1200px) {
    justify-content: center;
    flex-direction: column;
  }
}

.game-space__mine-field {
  @include make-col(10);
  @include make-container();
  padding: 10px;
  margin: 0px;
  color: black;
  @media all and (max-width: 1200px) {
    @include make-col(12);
    width: 100%;
    padding: 5px;
    padding-right: 5px;
  }
}

.game-space__controls {
  @include make-col(2);
  @include make-container();
  padding: 10px;
  @media all and (max-width: 1000px) {
    @include make-row();
    width: 100%;
  }
}

.game-space__cell {
  margin: 2px;
  padding: 0px;
  border-radius: 5px;
  background-size: 100% 100%;
  background-color: rgb(109, 109, 109);
  color: black;
  text-align: center;
  text-size-adjust: 100%;
}

.game-space__cell:hover {
  background-color: lightgoldenrodyellow;
}

.game-space__cell--zero-mine {
  background-color: lightgoldenrodyellow;
}

.game-space__cell--one-mine {
  background-color: lightgreen;
}

.game-space__cell--two-mine {
  background-color: rgb(204, 178, 29);
}

.game-space__cell--three-mine {
  background-color: orange;
}

.game-space__cell--four-mine {
  background-color: tomato;
}

.game-space__cell--five-mine {
  background-color: red;
}

.game-space__cell--six-mine {
  background-color: indigo;
}

.game-space__cell--seven-mine {
  background-color: purple;
}

.game-space__cell--eight-mine {
  background-color: violet;
}

.game-space__cell--mine {
  background-image: url(mine.png);
}

.game-space__cell--flag {
  background-image: url(flag.png);
}

.game-space__cell--detonated {
  background-color: crimson;
}

.game-space__mine-counter {
  @include make-row();
  @include make-col-ready();
  background-color: lightseagreen;
  @media all and (max-width: 1200px) {
    @include make-col(12);
  }
}

.game-space__mine-counter-img {
  @include make-row();
}

.game-space__mine-counter-label {
  @include make-row();
  color: gray;
  font-size: xx-large;
}
